In [ ]:
# Imports
import pandas as pd
import re

In [ ]:
# Import csv data: csvData.csv
df_cities = pd.read_csv("csvData.csv")
df_cities

              city state  population
0    New York City    NY     8230290
1      Los Angeles    CA     3983540
2          Chicago    IL     2679080
3          Houston    TX     2323660
4          Phoenix    AZ     1733630
..             ...   ...         ...
195        Miramar    FL      142445
196     Round Rock    TX      142418
197       Metairie    LA      142135
198         Olathe    KS      142119
199           Waco    TX      141936

[200 rows x 3 columns]

In [ ]:
# Define a function to create city code
def gen_city_code(str):
  tmp = re.sub("\s", "_", str)        # replace whitspace with underscores
  tmp = re.sub("[^a-zA-Z_]", "", tmp) # remove chars that are not alpha or underscores

  return tmp

In [ ]:
# Add a city code column
df_cities['city_code'] = df_cities['city'].apply(gen_city_code)
df_cities.sample(20)

                 city state  population         city_code
57          Riverside    CA      334772         Riverside
127          Columbus    GA      198969          Columbus
71             Durham    NC      287865            Durham
190           McAllen    TX      144744           McAllen
2             Chicago    IL     2679080           Chicago
77           Chandler    AZ      269123          Chandler
23      Oklahoma City    OK      669347     Oklahoma_City
55          Henderson    NV      341531         Henderson
151  Rancho Cucamonga    CA      178119  Rancho_Cucamonga
178         Sunnyvale    CA      152495         Sunnyvale
140         Vancouver    WA      187615         Vancouver
19         Washington    DC      714153        Washington
150         Elk Grove    CA      179119         Elk_Grove
113        Des Moines    IA      210723        Des_Moines
102            Frisco    TX      224566            Frisco
65         Greensboro    NC      301094        Greensboro
165          Lakewood    CO      160441          Lakewood
187         Roseville    CA      146594         Roseville
164           Bayamon    PR      161034           Bayamon
171         Lancaster    CA      155559         Lancaster

In [ ]:
abbrev_2_state = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'Washington, DC',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'PR': 'Puerto Rico',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
}

# Map state name to abbreviation
state_2_abbrev = {}
# Populate the state_2_abbrev dictionary
for key, val in abbrev_2_state.items():
  state_2_abbrev[val] = key

# Define a function to map state abbreviations to state names
def abbr2name(str):
  return state_2_abbrev[str]

state_2_abbrev

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'Washington, DC': 'DC',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [ ]:
# Add a state name column
df_cities['state_name'] = df_cities['state'].apply(abbr2name)
df_cities.sample(1)

                city state  population        city_code state_name
146  Fort Lauderdale    FL      183109  Fort_Lauderdale    Florida

In [ ]:
cols = ['city', 'state', 'city_code', 'state_name', 'population']
df_download = df_cities[cols]

In [ ]:
from google.colab import files
df_download.to_csv('df_download.csv')
files.download('df_download.csv')